extends ./layout.pug
block contenido
  div(class="text-center col-md-8 center-block remove-float big-top-space" )
    h1 Welcome to Gallery
    a(href='./login' class="right_space") Iniciar Sesion
    a(href='./singup') Registrarse
