extends ./layout.pug
block contenido
  div(class="col-md-6 center-block remove-float big-top-space" )
    form(action="/sessions" method="POST")
      div(class='form-group')
        label(for="email") Email
        input(type="email", autofocus, name="email", placeholder="Email", id="email"
        class="form-control")
      div(class='form-group')
        label(for="passw") Password
        input(type="password", name="password", placeholder="Password", id="passw"
        class="form-control")

      div(class="row")
        div(class="col-md-6")
          input(type="submit" value="Login" class="btn btn-success" id="login-btn")
        div(class="col-md-6 text-right")
          a(href="/singup") Registrarse
